History/*
*.udl
DB/MSSQL Components.sql
Footprints/History/*
Symbols/History/*
DB/altium_library/bin/*
DB/altium_library/obj/*
DB/altium_library/.vs/*
DB/*.accdb
*.user
Management/*
STEP/*.sldprt
STEP/*/*.sldprt
*-Copy.dblib
*.Zip
Celestial Altium Library*.DbLib
*_loc
altiumlibrary.com.DbLib
